/* line 61, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 22, ../sass/prototype.scss */
body {
  font-size: 1em;
  line-height: 1.5em;
  background-color: #888;
}

/* line 26, ../sass/prototype.scss */
html, body {
  min-height: 100%;
  height: 100%;
}

/* line 31, ../sass/prototype.scss */
.container-fluid, .document-content, .document-content > div {
  height: 100%;
}

/* line 35, ../sass/prototype.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 0.3em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6em;
}

/* line 40, ../sass/prototype.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
}

/* line 45, ../sass/prototype.scss */
h3 {
  font-size: 1.5625em;
  line-height: 1.92em;
  margin-top: 0.48em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.96em;
}

/* line 50, ../sass/prototype.scss */
h4 {
  font-size: 1.375em;
  line-height: 2.18182em;
  margin-top: 0.54545em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.09091em;
}

/* line 55, ../sass/prototype.scss */
p {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 60, ../sass/prototype.scss */
hr {
  margin-top: 1.33333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.33333em;
  border-color: #ddd;
}

/* line 65, ../sass/prototype.scss */
td, th {
  padding: 5px;
}

/* line 69, ../sass/prototype.scss */
a {
  color: #428bca;
}

/* line 74, ../sass/prototype.scss */
h1 a, .menu a {
  color: #3276b1;
}
/* line 76, ../sass/prototype.scss */
h1 a:hover, .menu a:hover {
  text-decoration: none;
  cursor: text;
}
/* line 79, ../sass/prototype.scss */
h1 a:hover i, .menu a:hover i {
  display: inline;
  cursor: pointer;
  color: #2996f2;
}
/* line 85, ../sass/prototype.scss */
h1 a i, .menu a i {
  display: none;
  padding-left: 5px;
}

/* line 92, ../sass/prototype.scss */
.fixed-header {
  position: fixed;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #222;
  background: #333333;
  z-index: 2;
}
/* line 99, ../sass/prototype.scss */
.fixed-header .logo img {
  max-height: 41px;
  margin-top: 4px;
}
@media (max-width: 1050px) {
  /* line 99, ../sass/prototype.scss */
  .fixed-header .logo img {
    max-width: 120px;
  }
}
/* line 106, ../sass/prototype.scss */
.fixed-header .fa {
  margin-right: 5px;
  margin-left: 5px;
}
@media (max-width: 1200px) {
  /* line 106, ../sass/prototype.scss */
  .fixed-header .fa {
    margin-left: 0;
  }
}

/* line 115, ../sass/prototype.scss */
.conteiner-fluid {
  background-color: #888;
}

/* line 119, ../sass/prototype.scss */
.document-content {
  margin-top: 50px;
  background: #888888;
}
/* line 122, ../sass/prototype.scss */
.document-content .col-lg-9.col-md-11.col-sm-12, .document-content .col-lg-10.col-md-12 {
  padding-left: 30px;
}
/* line 125, ../sass/prototype.scss */
.document-content .col-md-10.col-sm-9.col-xs-8 {
  background: #fff;
}
/* line 127, ../sass/prototype.scss */
.document-content .col-md-10.col-sm-9.col-xs-8 > .row {
  background-color: #fff;
}
/* line 131, ../sass/prototype.scss */
.document-content .fa {
  margin-right: 5px;
}

/* line 137, ../sass/prototype.scss */
#search > .col-md-4 {
  padding-left: 0;
}
/* line 140, ../sass/prototype.scss */
#search .head-butt {
  border-right: 1px solid #357ebd;
  font-size: 1.2em;
}

/* line 146, ../sass/prototype.scss */
.search {
  padding-right: 0;
  padding-left: 0;
}

/* line 151, ../sass/prototype.scss */
#searchAgainBox {
  background: #dddddd;
  width: 100%;
  height: 49px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding: 10px;
  font-size: 1.5em;
  line-height: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 162, ../sass/prototype.scss */
#searchAgainBox::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888;
}

/* line 165, ../sass/prototype.scss */
#searchAgainBox:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888;
}

/* line 168, ../sass/prototype.scss */
#searchAgainBox::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888;
}

/* line 171, ../sass/prototype.scss */
#searchAgainBox:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888;
}

/* line 175, ../sass/prototype.scss */
.head-butt {
  background: #333333;
  display: block;
  border-left: 1px solid #474747;
  border-right: 1px solid #2c2c2c;
  height: 49px;
  padding: 0;
  text-align: center;
}

/* line 185, ../sass/prototype.scss */
.fa-search:before {
  text-shadow: 1px 1px 1px #555;
}

/* line 190, ../sass/prototype.scss */
.btn.btn-primary, .btn.btn-default {
  width: 100%;
  height: 49px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
  line-height: 49px;
  font-size: 1.4em;
  border: none;
}
@media (max-width: 1200px) {
  /* line 190, ../sass/prototype.scss */
  .btn.btn-primary, .btn.btn-default {
    font-size: 1.3em;
  }
}
/* line 202, ../sass/prototype.scss */
.btn.btn-primary {
  background-color: #428bca;
}
/* line 205, ../sass/prototype.scss */
.btn.btn-default {
  background: #333333;
  color: #e2e3e2;
}
/* line 208, ../sass/prototype.scss */
.btn.btn-default:hover {
  background: #428bca;
  color: #fff;
}

/* line 215, ../sass/prototype.scss */
.fixed-header .col-md-4 > .row > .head-butt:nth-child(1) {
  border-left: none;
}

/* line 219, ../sass/prototype.scss */
.fill {
  padding: 0;
}

/* line 223, ../sass/prototype.scss */
.tocify1 {
  width: 16.66666667%;
  border: none;
  border-right: 2px solid #888;
  margin-left: 2px;
  max-height: 90%;
  background: #888888;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 231, ../sass/prototype.scss */
.tocify1 ul, .tocify1 li {
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}

/* line 237, ../sass/prototype.scss */
.tocheader {
  text-indent: 10px;
}

/* line 242, ../sass/prototype.scss */
.tocsubheader, .tocsubheader .tocify-header, .tocsubheader .tocsubheader {
  text-indent: 20px;
}
/* line 244, ../sass/prototype.scss */
.tocsubheader .tocify-subheader, .tocsubheader .tocify-header .tocify-subheader, .tocsubheader .tocsubheader .tocify-subheader {
  text-indent: 30px;
}
/* line 246, ../sass/prototype.scss */
.tocsubheader .tocify-subheader .tocify-subheader, .tocsubheader .tocify-header .tocify-subheader .tocify-subheader, .tocsubheader .tocsubheader .tocify-subheader .tocify-subheader {
  text-indent: 40px;
}
/* line 251, ../sass/prototype.scss */
.tocsubheader li, .tocsubheader #navigation > ul > li > a {
  font-size: 16px;
}
/* line 254, ../sass/prototype.scss */
.tocsubheader .tocify-header li, .tocsubheader #navigation > ul > .tocify-subheader > li a, .tocsubheader .tocsubheader li {
  font-size: 13px;
}
/* line 258, ../sass/prototype.scss */
.tocsubheader .tocsubheader, .tocsubheader .tocsubheader .tocify-header {
  text-indent: 20px;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 261, ../sass/prototype.scss */
.tocsubheader .tocsubheader .tocify-subheader, .tocsubheader .tocsubheader .tocify-header .tocify-subheader {
  text-indent: 30px;
}
/* line 266, ../sass/prototype.scss */
.tocsubheader .tocsubheader .tocsubheader {
  text-indent: 30px;
}

/* line 274, ../sass/prototype.scss */
.nav-list li a, .nav-list .nav-header {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 277, ../sass/prototype.scss */
.nav-list li, .nav-list {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border: none;
}
/* line 284, ../sass/prototype.scss */
.nav-list .active a, .nav-list .active a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #428bca;
}
/* line 289, ../sass/prototype.scss */
.nav-list [class^="icon-"] {
  margin-right: 2px;
}
/* line 292, ../sass/prototype.scss */
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

/* line 303, ../sass/prototype.scss */
.nav-list li a {
  padding: 5px;
  border-bottom: 1px solid #555555;
  border-top: 1px solid #aaaaaa;
  color: #fff;
  text-shadow: 1px 1px 1px #333333;
}

/* line 311, ../sass/prototype.scss */
.nav li a:hover, .nav li a:focus {
  background-color: #666666;
  text-shadow: 1px 1px 1px #333333;
}

/* line 319, ../sass/prototype.scss */
.tocify1 .tocheader .tocsubheader .tocsubheader li a {
  padding-left: 20px;
}

/* line 323, ../sass/prototype.scss */
#navigation {
  background: #888888;
}
/* line 325, ../sass/prototype.scss */
#navigation li a {
  color: #fff;
  text-shadow: 1px 1px 1px #333333;
  border-bottom: 1px solid #555555;
  border-top: 1px solid #aaaaaa;
}

/* line 333, ../sass/prototype.scss */
#tocify-header0 > li > a {
  border-top: 1px solid #aaaaaa;
}

/* line 337, ../sass/prototype.scss */
.bs-callout, .leadquote {
  margin: 20px 0;
  padding: 20px;
  margin-top: 1.33333em;
  padding-top: 1.33333em;
  padding-bottom: 1.33333em;
  margin-bottom: 1.33333em;
  border-left: 3px solid #eee;
}
/* line 342, ../sass/prototype.scss */
.bs-callout p, .leadquote p {
  margin: 0;
  padding: 0;
}
/* line 346, ../sass/prototype.scss */
.bs-callout h4, .bs-callout h3, .leadquote h4, .leadquote h3 {
  margin-top: 0;
}

/* line 351, ../sass/prototype.scss */
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
/* line 354, ../sass/prototype.scss */
.bs-callout-warning .fa {
  color: #f0ad4e;
}

/* line 359, ../sass/prototype.scss */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
/* line 362, ../sass/prototype.scss */
.bs-callout-danger .fa {
  color: #d9534f;
}

/* line 367, ../sass/prototype.scss */
.bs-callout-attention {
  background-color: #F1FBE9;
  border-color: #7DDD2E;
}
/* line 370, ../sass/prototype.scss */
.bs-callout-attention .fa {
  color: #7DDD2E;
}

/* line 375, ../sass/prototype.scss */
.bs-callout-info, .leadquote {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
/* line 378, ../sass/prototype.scss */
.bs-callout-info .fa, .leadquote .fa {
  color: #5bc0de;
}

/* line 384, ../sass/prototype.scss */
.multi .fa {
  float: right;
  line-height: 30px;
}

/* line 390, ../sass/prototype.scss */
.land-box {
  width: 30%;
  margin-right: 3%;
  border: 2px solid #EAF4F9;
  padding: 15px;
  margin-bottom: 30px;
  float: left;
  height: 200px;
  background-color: #f4f8fa;
}
/* line 399, ../sass/prototype.scss */
.land-box h2 {
  text-align: center;
}
/* line 401, ../sass/prototype.scss */
.land-box h2 i {
  margin-left: 10px;
}
/* line 405, ../sass/prototype.scss */
a .land-box {
  color: #444;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 409, ../sass/prototype.scss */
a:hover .land-box {
  background-color: #EAF4Fb;
  border-color: #8DAEC9;
  color: #111;
  -webkit-box-shadow: #8daec9 0 0 1px inset;
  -moz-box-shadow: #8daec9 0 0 1px inset;
  box-shadow: #8daec9 0 0 1px inset;
}

/* line 416, ../sass/prototype.scss */
.help-sidebar {
  padding: 0 5%;
  color: #fff;
}
/* line 419, ../sass/prototype.scss */
.help-sidebar a:hover {
  text-decoration: none;
}
/* line 422, ../sass/prototype.scss */
.help-sidebar h2 {
  text-shadow: 1px 1px 1px #333333;
}
@media (min-width: 1500px) {
  /* line 416, ../sass/prototype.scss */
  .help-sidebar {
    padding: 0 8%;
  }
}

/* line 430, ../sass/prototype.scss */
.side-box {
  margin-bottom: 30px;
  color: #eee;
  background: #f4f8fa;
  border: 2px solid #EAF4F9;
  color: #444;
  text-align: center;
  padding: 0 15px;
}
/* line 438, ../sass/prototype.scss */
a .side-box {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 454, ../sass/prototype.scss */
.side-box a {
  margin-top: 0;
  color: #428bca;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6em;
}
/* line 440, ../sass/prototype.scss */
.side-box h3 {
  margin: 0.5em 0;
  /*-ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;*/
}
@media (max-width: 1600px) {
  /* line 440, ../sass/prototype.scss */
  .side-box h3, .side-box a {
    font-size: 1.3em !important;
  }
}
@media (max-width: 1300px) {
  /* line 440, ../sass/prototype.scss */
  .side-box h3, .side-box a {
    font-size: 1.25em !important;
  }
}
@media (max-width: 1250px) {
  /* line 440, ../sass/prototype.scss */
  .side-box h3, .side-box a {
    font-size: 1.15em !important;
  }
}
/* line 448, ../sass/prototype.scss */
.side-box:hover {
  background: #fff;
  border-color: #8daec9;
  color: #111;
  -webkit-box-shadow: #8daec9 0 0 1px inset;
  -moz-box-shadow: #8daec9 0 0 1px inset;
  box-shadow: #8daec9 0 0 1px inset;
}
/* line 454, ../sass/prototype.scss */
.side-box a {
  margin-top: 0;
  color: #428bca;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6em;
}
@media (max-width: 1400px) {
  /* line 454, ../sass/prototype.scss */
  .side-box a {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
}
/* line 463, ../sass/prototype.scss */
.side-box a:hover {
  text-decoration: underline;
}
/* line 467, ../sass/prototype.scss */
.side-box.email h3 {
  margin-bottom: 0;
}
/* line 470, ../sass/prototype.scss */
.side-box .fa-twitter {
  margin-right: 0px;
}

/* line 475, ../sass/prototype.scss */
.popular ul li {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 0.66667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.66667em;
}

.column-box:first-of-type {
    margin-right: 0;
}
.column-box {
    margin-right: 2.5%;
    width: 47.5%;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #eee;
    background: #f6f6f6;
    float: right;
}
.column-box pre.x {
    background-color: rgba(0, 0, 0, 0.2);
    border: inherit;
}

.column-box pre {
    background-color: transparent;
    border: none;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 0px;
    padding: 5px;
}
.col-contain {
    clear: both;
    margin-bottom: 25px;
    overflow: hidden;
}
.main-table, .main-table td, .main-table th {
    border: 1px solid #999;
    border-collapse: collapse;
}
