<div class="row">
  <div class="col-md-2 col-xs-4 logo">
    <a href="http://support.3scale.net" style="width: 155px; position: relative;"><img style="
margin-top: 1px;
" src="https://support.3scale.net/images/3scale-logo-transparent.png"><span style="color: white; position: absolute; font-variant: small-caps; font-family: Verdana; right: 0px; bottom: -24px;">Docs</span></a>
  </div>
  <div class="col-md-6">
    <div class="row" id="search">
      <form action="/search" method="get" class="col-md-10">
        <input class="text" name="q" type="text" id="search-query" title="Search the site" placeholder="Search" autocomplete="off" >
      </form>
      <div class="col-md-2 head-butt"><a class="btn btn-default" href="/"><i class="fa fa-code"></i>CodeHub</a></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">               
      <div class="col-md-3 head-butt"><a href="https://support.3scale.net" class="btn btn-default"><i class="fa fa-book"></i>Docs</a></div>
      <div class="col-md-3 head-butt"><a href="https://support.3scale.net/help" class="btn btn-default"><i class="fa fa-question-circle"></i>Help</a></div>
      <div class="col-md-3 head-butt"><a href="https://support.3scale.net/forum" class="btn btn-default"><i class="fa fa-comments"></i>Forum</a></div>
      <div class="col-md-3 head-butt"><a href="http://www.3scale.net/blog" class="btn btn-default"><i class="fa fa-rss"></i>Blog</a></div>
    </div>
  </div>
</div>