<div class="tocify1">
  <!-- OVERVIEW -->
  <ul class="tocheader nav nav-list">
    <li class="multi"><a>Overview<i class="fa{% if request.request_uri contains "/overview" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
    <ul {% if request.request_uri contains "/overview" %}id="this"{% endif %} class="tocsubheader nav nav-list" {% unless request.request_uri contains "/overview" %} style="display: none;" {% endunless %}>
      {% if request.request_uri contains "/overview" %}
        <li class=""><a href="#how-it-works">How it works</a></li>
        <li class=""><a href="#architecture">3scale Architecture</a></li>
        <li class=""><a href="#scalability">Scalability</a></li>
        <li class=""><a href="#deployment">Deployment</a></li>
      {% else %}
        <li class=""><a href="/overview#how-it-works">How it works</a></li>
        <li class=""><a href="/overview#architecture">3scale Architecture</a></li>
        <li class=""><a href="/overview#scalability">Scalability</a></li>
        <li class=""><a href="/overview#deployment">Deployment</a></li>
      {% endif %}
    </ul>
  </ul>

  <!-- GET STARTED -->
  <ul class="tocheader nav nav-list">
    <li class="multi"><a>Get Started<i class="fa{% if request.request_uri contains "/get-started" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
    <ul id="" class="tocsubheader nav nav-list" {% unless request.request_uri contains "/get-started" %} style="display: none;" {% endunless %}>
      <li class="{% if request.request_uri contains "/fast-track-integration" %}active{% endif %}"><a href="/get-started/fast-track-integration">Fast Track</a></li>
      <li class="multi"><a>Quickstarts<i class="fa{% if request.request_uri contains "/quickstarts/" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/quickstarts/" %} style="display: none;" {% endunless %}>
        <li class="{% if request.request_uri contains "/hello-world-nginx" %}active{% endif %}"><a href="/get-started/quickstarts/hello-world-nginx">Hello World Nginx</a></li>
        <li class="{% if request.request_uri contains "/hello-world-api" %}active{% endif %}"><a href="/get-started/quickstarts/hello-world-api">Hello World Plugin</a></li>
        <li class="{% if request.request_uri contains "/3scale-api-analytics" %}active{% endif %}"><a href="/get-started/quickstarts/3scale-api-analytics">API Analytics</a></li>
        <li class="{% if request.request_uri contains "/hero-api-portal" %}active{% endif %}"><a href="/get-started/quickstarts/hero-api-portal">Zero to Hero Developer Portal</a></li>
      </ul>
    </ul>
  </ul>

  <!-- HOWTOS -->
  <ul class="tocheader nav nav-list">
    <li class="multi"><a>HowTos<i class="fa {% if request.request_uri contains "/howtos/" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
    <ul class="tocsubheader nav nav-list" {% unless request.request_uri contains "/howtos/" %} style="display: none;" {% endunless %} >

      <!-- BASICS -->
      <li class="multi"><a>Basics<i class="fa {% if request.request_uri contains "/basics" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul {% if request.request_uri contains "/basics" %}id="this"{% endif %} class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/basics" %} style="display: none;" {% endunless %}>
        {% if request.request_uri contains "/basics" %}
          <li class="tocify-item"><a href="#manage-admins">Manage Administrators</a></li>
          <li class="tocify-item"><a href="#account-configuration">Account Configuration</a></li>
          <li class="tocify-item"><a href="#provision-plans">Provision Paid Plans</a></li>
          <li class="tocify-item"><a href="#rate-limits">Provision Rate Limits</a></li>
          <li class="tocify-item"><a href="#dns">Setup DNS</a></li>
          <li class="tocify-item"><a href="#email-configuration">Email Configuration</a></li>
        {% else %}
          <li class="tocify-item"><a href="/howtos/basics#manage-admins">Manage Administrators</a></li>
          <li class="tocify-item"><a href="/howtos/basics#account-configuration">Account Configuration</a></li>
          <li class="tocify-item"><a href="/howtos/basics#provision-plans">Provision Paid Plans</a></li>
          <li class="tocify-item"><a href="/howtos/basics#rate-limits">Provision Rate Limits</a></li>
          <li class="tocify-item"><a href="/howtos/basics#dns">Setup DNS</a></li>
          <li class="tocify-item"><a href="/howtos/basics#email-configuration">Email Configuration</a></li>
        {% endif %}
      </ul>

      <!-- API AUTHENTICATION -->
      <li class="multi"><a>API Authentication<i class="fa {% if request.request_uri contains "/api-authentication" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul {% if request.request_uri contains "/api-authentication" %}id="this"{% endif %} class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/api-authentication" %} style="display: none;" {% endunless %}>
        {% if request.request_uri contains "/api-authentication" %}
          <li class="tocify-item"><a href="#authentication-patterns">Setting Authentication</a></li>
          <li class="tocify-item"><a href="#oauth1">OAuth 1.0</a></li>
          <li class="tocify-item"><a href="#oauth2">OAuth 2.0</a></li>
        {% else %}
          <li class="tocify-item"><a href="/howtos/api-authentication#authentication-patterns">Setting Authentication</a></li>
          <li class="tocify-item"><a href="/howtos/api-authentication#oauth1">OAuth 1.0</a></li>
          <li class="tocify-item"><a href="/howtos/api-authentication#oauth2">OAuth 2.0</a></li>
        {% endif %}
      </ul>
      
      <!-- API CONFIGURATION -->
      <li class="multi"><a>API Configuration<i class="fa {% if request.request_uri contains "/api-configuration" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul {% if request.request_uri contains "/api-configuration" %}id="this"{% endif %} class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/api-configuration" %} style="display: none;" {% endunless %}>
        {% if request.request_uri contains "/api-configuration" %}
          <li class="tocify-item"><a href="#account-plans">Set up Account plans</a></li>
          <li class="tocify-item"><a href="#application-plans">Application Plans</a></li>
          <li class="tocify-item"><a href="#plugin">API Plugin Setup</a></li>
          <li class="tocify-item"><a href="#varnish">Varnish as an API Proxy</a></li>
          <li class="tocify-item"><a href="#varnish-latency">Varnish reducing Auth latency</a></li>
          <li class="tocify-item"><a href="#nginx">Nginx as an API Proxy</a></li>
          <li class="tocify-item"><a href="#nginxOnPremiseSetup">Nginx on-premise setup</a></li>
          <li class="tocify-item"><a href="#awsProxyAmi">Nginx API Proxy with AWS AMI</a></li>
          <li class="tocify-item"><a href="#oauth-nginx-proxy">OAuth with Nginx Proxy</a></li>
          <li class="tocify-item"><a href="#nginx-advanced">Advanced Nginx</a></li>
          <li class="tocify-item"><a href="#active-docs">Configure Active Docs</a></li>
          <li class="tocify-item"><a href="#active-docs-spec">Active Docs Specification</a></li>
          <li class="tocify-item"><a href="#oauth-ad">Active Docs and OAuth</a></li>
          <li class="tocify-item"><a href="#differentiate-environments">Differentiate API Environments</a></li>
        {% else %}
          <li class="tocify-item"><a href="/howtos/api-configuration#account-plans">Set up Account plans</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#application-plans">Application Plans</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#authentication-patterns">Setting Authentication</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#plugin">API Plugin Setup</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#varnish">Varnish as an API Proxy</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#varnish-latency">Varnish reducing Auth latency</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#nginx">Nginx as an API Proxy</a></li>      
          <li class="tocify-item"><a href="/howtos/api-configuration#nginxOnPremiseSetup">Nginx on-premise setup</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#awsProxyAmi">Nginx API Proxy with AWS AMI</a></li>        
          <li class="tocify-item"><a href="/howtos/api-configuration#oauth-nginx-proxy">OAuth with Nginx Proxy</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#nginx-advanced">Advanced Nginx</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#active-docs">Configure Active Docs</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#active-docs-spec">Active Docs Specification</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#oauth-ad">Active Docs and OAuth</a></li>
          <li class="tocify-item"><a href="/howtos/api-configuration#differentiate-environments">Differentiate API Environments</a></li>
        {% endif %}
      </ul>
   
      <!-- DEVELOPERS -->
      <li class="multi"><a>Developers<i class="fa {% if request.request_uri contains "/developers" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul {% if request.request_uri contains "/developers" %}id="this"{% endif %} class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/developers" %} style="display: none;" {% endunless %}>
        {% if request.request_uri contains "/developers" %}
          <li class="tocify-item"><a href="#add-developers">Add Developers</a></li>
          <li class="tocify-item"><a href="#approvals">Approvals</a></li>
          <li class="tocify-item"><a href="#change-plans">Change plans</a></li>
          <li class="tocify-item"><a href="#signup-workflows">Configure Signup Workflows</a></li>
          <li class="tocify-item"><a href="#customize-plans">Customize Plans</a></li>
          <li class="tocify-item"><a href="#enable-signup">Enable Signup</a></li>
          <li class="tocify-item"><a href="#invite-developers">Invite Developers</a></li>
          <li class="tocify-item"><a href="#terms">Setting Terms and Conditions</a></li>
        {% else %}
          <li class="tocify-item"><a href="/howtos/developers#add-developers">Add Developers</a></li>
          <li class="tocify-item"><a href="/howtos/developers#approvals">Approvals</a></li>
          <li class="tocify-item"><a href="/howtos/developers#change-plans">Change plans</a></li>
          <li class="tocify-item"><a href="/howtos/developers#signup-workflows">Configure Signup Workflows</a></li>
          <li class="tocify-item"><a href="/howtos/developers#customize-plans">Customize Plans</a></li>
          <li class="tocify-item"><a href="/howtos/developers#enable-signup">Enable Signup</a></li>
          <li class="tocify-item"><a href="/howtos/developers#invite-developers">Invite Developers</a></li>
          <li class="tocify-item"><a href="/howtos/developers#terms">Setting Terms and Conditions</a></li>
        {% endif %}
      </ul>

           <!-- PORTAL CONFIGURATION -->
      <li class="multi"><a>Portal Configuration<i class="fa {% if request.request_uri contains "/portal-configuration" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul {% if request.request_uri contains "/portal-configuration" %}id="this"{% endif %} class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/portal-configuration" %} style="display: none;" {% endunless %}>
        {% if request.request_uri contains "/textile-guide" %}
          <li class="tocify-item"><a href="/howtos/portal-configuration#change-css">Change CSS</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#cms-guide">CMS Guide</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#liquids">Liquid Formatting Tags</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#customize-email">Customize Email Templates</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#built-in">Change built-in Pages</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#multi-service">Multi-Service Signup</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#restricted-content">Restricted content</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#sso">SSO for Developer Portal</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#cc-workflow">Credit Card Workflows</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration/textile-guide">How to write in Textile</a></li>
        {% elsif request.request_uri contains "/portal-configuration" %}
          <li class="tocify-item"><a href="#change-css">Change CSS</a></li>
          <li class="tocify-item"><a href="#cms-guide">CMS Guide</a></li>
          <li class="tocify-item"><a href="#liquids">Liquid Formatting Tags</a></li>
          <li class="tocify-item"><a href="#customize-email">Customize Email Templates</a></li>
          <li class="tocify-item"><a href="#built-in">Change built-in Pages</a></li>
          <li class="tocify-item"><a href="#multi-service">Multi-Service Signup</a></li>
          <li class="tocify-item"><a href="#restricted-content">Restricted content</a></li>
          <li class="tocify-item"><a href="#sso">SSO for Developer Portal</a></li>
          <li class="tocify-item"><a href="#cc-workflow">Credit Card Workflow</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration/textile-guide">How to write in Textile</a></li>
        {% else %}
          <li class="tocify-item"><a href="/howtos/portal-configuration#change-css">Change CSS</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#cms-guide">CMS Guide</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#liquids">Liquid Formatting Tags</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#customize-email">Customize Email Templates</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#built-in">Change built-in Pages</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#multi-service">Multi-Service Signup</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#restricted-content">Restricted content</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#sso">SSO for Developer Portal</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration#cc-workflow">Credit Card Workflows</a></li>
          <li class="tocify-item"><a href="/howtos/portal-configuration/textile-guide">How to write in Textile</a></li>
        {% endif %}
      </ul>
      
      <!-- API OPERATIONS -->
      <li class="multi"><a>API Operations<i class="fa {% if request.request_uri contains "/api-operations" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
      <ul {% if request.request_uri contains "/api-operations" %}id="this"{% endif %} class="tocsubheader nav nav-navlist" {% unless request.request_uri contains "/api-operations" %} style="display: none;" {% endunless %}>
        {% if request.request_uri contains "/api-operations" %}
          <li class="tocify-item"><a href="#analytics-diy">Analytics DIY</a></li>
          <li class="tocify-item"><a href="#viewing-traffic">Viewing Traffic</a></li>
          <li class="tocify-item"><a href="#contact-developer">Contact a Developer</a></li>
          <li class="tocify-item"><a href="#find-application">Finding an Application</a></li>
          <li class="tocify-item"><a href="#suspend-application">Suspending an Application</a></li>
          <li class="tocify-item"><a href="#webhooks">HowTo use Webhooks</a></li>
        {% else %}
          <li class="tocify-item"><a href="/howtos/api-operations#analytics-diy">Analytics DIY</a></li>
          <li class="tocify-item"><a href="/howtos/api-operations#viewing-traffic">Viewing Traffic</a></li>
          <li class="tocify-item"><a href="/howtos/api-operations#contact-developer">Contact a Developer</a></li>
          <li class="tocify-item"><a href="/howtos/api-operations#find-application">Finding an Application</a></li>
          <li class="tocify-item"><a href="/howtos/api-operations#suspend-application">Suspending an Application</a></li>
          <li class="tocify-item"><a href="/howtos/api-operations#webhooks">HowTo use Webhooks</a></li>
        {% endif %}
      </ul>
    </ul>
  </ul>

  <!-- REFERENCE -->
  <ul class="tocheader nav nav-list">
    <li class="multi"><a>Reference<i class="fa{% if request.request_uri contains "/reference" %} fa-chevron-down{% else %} fa-chevron-left{% endif %}"></i></a></li>
    <ul {% if request.request_uri contains "/reference" %}id="this"{% endif %} class="tocsubheader multi nav nav-list" {% unless request.request_uri contains "/reference" %} style="display: none;" {% endunless %}>
      <li class="{% if request.request_uri contains "/reference/libraries" %}active{% endif %}"><a href="/reference/libraries">Libraries</a></li>
      <li class="{% if request.request_uri contains "/reference/active-docs" %}active{% endif %}"><a href="/reference/active-docs">Active Docs</a></li>
      <li class="{% if request.request_uri contains "/reference/liquid-formatting-tags" %}active{% endif %}"><a href="/reference/liquid-formatting-tags">Liquid docs</a></li>
      <li class="{% if request.request_uri contains "/reference/terminology" %}active{% endif %}"><a href="/reference/terminology">Terminology</a></li>
      <!--<li class=""><a href="/reference/release-notes">Release notes</a></li>-->
    </ul>
  </ul>

  <!-- CASE STUDIES -->
  <!--<ul class="tocheader nav nav-list">
    <li class=""><a>Case Studies</a></li>
  </ul>-->

  <!-- CODEHUB -->
  <!--<ul class="tocheader nav nav-list">
    <li class=""><a>Code Hub</a></li>
  </ul>-->
</div>