<div class="tocify1">
  <!-- OVERVIEW -->
    {% for category in site.categories %}
      <ul class="tocheader nav nav-list">
        
          <li class="multi"><a href="/{{category | first}}/">{{ category | first }}</a></li>
        
      </ul>
    {% endfor %}
  <!-- CASE STUDIES -->
  <!--<ul class="tocheader nav nav-list">
    <li class=""><a>Case Studies</a></li>
  </ul>-->

  <!-- CODEHUB -->
  <!--<ul class="tocheader nav nav-list">
    <li class=""><a>Code Hub</a></li>
  </ul>-->
</div>