<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]--> 
<html class="no-js" lang="en"> 
  <head>
    {% include head.html %}    
  </head>
  <body>
    <!-- body content here -->
    <div class="container-fluid">
      <section class="row">
        <header class="fixed-header col-md-12">
          {% include header.html %}
        </header>
      </section>
      <div class="row document-content">
        <div class="fill col-md-2 col-sm-3 col-xs-4">
            {% include new-menu.html %}
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
          <div class="row">
            <div class="col-lg-10 col-md-11 col-sm-12">
              
              <section id="search-results" style="display: none;">
                <h2>Search results</h2>
                <div class="entries">
                  {% raw %}
                  <script id="search-results-template" type="text/mustache">
                    {{#entries}}
                      <article>
                        <p>
                          {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
                          <a href="{{url}}">{{title}}</a>
                        </p>
                      </article>
                    {{/entries}}
                  </script>
                  {% endraw %}
                </div>
              </section>
              <section id="page-content">        
                {{ content }}       
              </section> 
              <!-- DISQUS -->
              {% if page.comments %}
                {% include disqus.html %}
              {% endif %}                
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS and analytics only. -->
    {% include js-includes.html %}
    
  </body>
</html>
